################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RazorPagesMovie/.vs
/RazorPagesMovie/RazorPagesMovie/bin/Debug/net9.0/RazorPagesMovie.dll
/RazorPagesMovie/RazorPagesMovie/bin/Debug/net9.0/RazorPagesMovie.exe
/RazorPagesMovie/RazorPagesMovie/bin/Debug/net9.0/RazorPagesMovie.pdb
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/ref/RazorPagesMovie.dll
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/refint/RazorPagesMovie.dll
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/apphost.exe
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/RazorPagesMovie.AssemblyInfo.cs
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/RazorPagesMovie.AssemblyInfoInputs.cache
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/RazorPagesMovie.csproj.CoreCompileInputs.cache
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/RazorPagesMovie.dll
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/RazorPagesMovie.pdb
/RazorPagesMovie/RazorPagesMovie/obj/Debug/net9.0/RazorPagesMovie.sourcelink.json
